
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager Login</title>

</head>
<body>
    <div class="login-container">
        <div class="logo">
            <img src="assets/ev.png" alt="Company Logo" width="80">
        </div>
        <h2>Task Manager Login</h2>
        <form action="#" method="post">
            <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" [(ngModel)]="username"  required>
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" [(ngModel)]="password" required>
            </div>
            <button type="submit" class="login-btn" (click)="login()">Login</button>
        </form>
    </div>
</body>
</html>
